.rating {
  overflow-x: hidden;
  position: relative; /* Ensure relative positioning for absolute children */
}

.containerRating {
  padding: 20px 0;
}

.amountPlayer {
  background: #1f1f1f;
  height: 42px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 21px;
  font-size: 17px;
  font-weight: 400;
  width: fit-content;
  z-index: 10000;
  margin-bottom: 46px;
}

.ratingBackground {
  position: relative;
  height: 100vh;
}

.rectangle {
  z-index: -1;
  background: linear-gradient(#60a6ea, #0035f1);
  height: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  filter: blur(30px);
  opacity: 0.7;
}

.rectangle::before {
  z-index: -1;
  content: "";
  width: 0;
  height: 0;
  border-left: 190px solid transparent;
  border-right: 190px solid transparent;
  border-bottom: 37px solid linear-gradient(#60a6ea, #0035f1);
  position: absolute;
  top: -26px;
  border-radius: 30px;
  filter: blur(30px);
  opacity: 0.7;
}

.ratingKubokContainer {
  position: relative;
  bottom: 15px;
  margin: 0 auto;
  display: flex;
  width: 248px;
  height: 168px;
}

.ratingKubokContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scoreBoard {
  z-index: 124;
  position: relative;
  background-color: rgba(31, 31, 31, 0.5);
  border-radius: 20px;
  padding: 17px 8px;
  margin-bottom: 91px; /* Space for the owner position */
}

.scoreBoardTitle {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
}

.pull {
  border-radius: 20px;
  padding: 6px 12px;
  display: flex;
  position: absolute;
  left: 26px;
  top: 12px;
  background-color: rgba(36, 36, 36, 0.3);
}

.balanceValueImg.rating {
  width: 18px;
  height: 18px;
}

.line {
  display: flex;
  text-align: center;
  border-top: 2px solid #52535714;
  width: 110%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-left: -8px;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  width: 113px;
  height: 2px;
  background-color: white;
  top: -2px;
  left: 47%;
  transform: translateX(-50%);
  z-index: 1;
}

.remainDate {
  background-color: rgba(36, 36, 36, 0.3);
  height: 23px;
  border-radius: 20px;
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 26px;
  top: 15px;
  font-size: 14px;
  font-weight: 40;
}

.scoreBoardList {
  padding-bottom: 20px;
  overflow-y: scroll;
  min-height: 245px;
  max-height: calc(100vh - 92px - 91px); /* Adjusted for owner position */
}

.ratingPlayerCard {
  margin-top: 10px;
  height: 63px;
  background-color: rgba(36, 36, 36, 0.3);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 14px;
}

.ratingPlayerCardIMG {
  width: 36px;
  height: 36px;
}

.ratingPlayerCardIMG img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ratingAvatar {
  margin-left: 14px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden; /* Добавьте это свойство */
}

.ratingAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scorePosition {
  text-align: center;
  width: 36px;
}

.ratingWorkerBalanceIMG {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.ratingWorkerBalanceIMG img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ratingWorkerBalance {
  display: flex;
  align-items: center;
}

.ratingDesc {
  margin-left: 14px;
}

.ratingWorkerBalance {
  color: #727272;
  font-size: 18px;
  font-weight: 500;
}

.ratingWorkerName {
  font-size: 18px;
  font-weight: 400;
}

.ownerPos {
  z-index: 12451251;
  background: #181818;
  height: 91px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed; /* Make it fixed */
  bottom: 0; /* Stick it to the bottom */
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ownerPosLeft {
  margin-left: 14px;
  display: flex;
  align-items: center;
}

.ownerPosYou {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 400;
}

.ratingPlayerCard:last-child {
  margin-bottom: 80px;
}
