body {
  overflow: hidden; /* Отключаем прокрутку */
}

/* Для WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  display: none;
}

/* Для Firefox */
html {
  scrollbar-width: none;
}

/* Для IE/Edge */
body {
  -ms-overflow-style: none;
}

.container {
  padding: 20px 15px 0 15px;
}

.bigBalanceContainer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCoinContainer {
  background-repeat: no-repeat;
  width: 36px;
  height: 37px;
}

.mainContainerCoinSVG {
  width: 36px;
  height: 37px;
  background-repeat: no-repeat;
}

.mainContainerCoinSVG img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bigBalanceValue {
  font-family: SF Pro Display;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-right: 10px;
}

.mainRef {
  position: relative;
  background: #1f1f1f;
  height: 73px;
  width: 100%;
  border-radius: 20px;
  margin-top: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainRefCopy {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Установите высокий z-index, чтобы модальное окно было поверх всего */

  color: #ffff;
  background: #1f1f1f;
  padding: 20px;
  font-size: 13px;
  border-radius: 20px;
  transition: all 0.2s linear;
}

.mainRefTitle {
  font-family: SF Pro Display;
  font-size: 13px;
  font-weight: 400;
  max-width: 57%;
  /* margin: 10px 20px; */
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 12px;
  margin-right: 5px;
  /* letter-spacing: 0.5px; */
  line-height: 18px;
}

.mainRefButton {
  background: #292929;
  border-radius: 20px;
  width: 56px;
  height: 56px;
}

.mainRefButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 16px auto;
}

.mainRefQrSVG {
  background: url("../../assets/qr.svg");
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mainRefShareSVG {
  background: url("../../assets/share.svg");
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
}

.mainRefButton:not(:last-child) {
  margin-right: 6px;
}

.refButtons {
  display: flex;
  margin-right: 10px;
}

.worker {
  margin-top: 16px;
}

.workerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workerTitle {
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.7px;
  align-items: center;
  display: flex;
}

.workerCount {
  color: #000;
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 600;
  margin-left: 4px;
}

.workerMin {
  color: #000;
  background: #fff;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  padding: 3px 14px;
}

/* Styles for the mainScroll block */
.mainScroll {
  overflow-y: auto;
  max-height: calc(100vh - 180px); /* Adjust the height calculation */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS devices */
}

/* Hide scrollbar in Chrome, Safari, and Edge */
.mainScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Optional: Custom styles for the mainScroll content */
.mainScrollContent {
  padding: 20px; /* Add some padding if needed */
}

/* BACK */

.back-button {
  background: transparent;
  border: 0;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.back-button svg {
  margin-right: 8px;
}

/* Добавьте стили для модального окна */
.qrModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Установите высокий z-index, чтобы модальное окно было поверх всего */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Затемненный задний фон */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Установите непрозрачность заднего фона */
  z-index: 999; /* Установите высокий z-index, чтобы он был под модальным окном, но поверх всего остального */
}

/* Скрыть модальное окно по умолчанию */
.qrModal.hidden {
  display: none;
}
