body {
  overflow: hidden; /* Отключаем прокрутку */
}

/* Для WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  display: none;
}

/* Для Firefox */
html {
  scrollbar-width: none;
}

/* Для IE/Edge */
body {
  -ms-overflow-style: none;
}

.container {
  padding: 20px 15px 0 15px;
}

.bigBalanceContainer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCoinContainer {
  background-repeat: no-repeat;
  width: 36px;
  height: 37px;
}

.mainContainerCoinSVG {
  width: 36px;
  height: 37px;
  background-repeat: no-repeat;
}

.mainContainerCoinSVG img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bigBalanceValue {
  font-family: SF Pro Display;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-right: 10px;
}

.mainRef {
  background: #1f1f1f;
  height: 73px;
  width: 100%;
  border-radius: 20px;
  margin-top: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainRefTitle {
  font-family: SF Pro Display;
  font-size: 13px;
  font-weight: 400;
  max-width: 57%;
  /* margin: 10px 20px; */
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 12px;
  margin-right: 5px;
  /* letter-spacing: 0.5px; */
  line-height: 18px;
}

.mainRefButton {
  background: #292929;
  border-radius: 20px;
  width: 56px;
  height: 56px;
}

.mainRefButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 16px auto;
}

.mainRefQrSVG {
  background: url("../../assets/qr.svg");
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mainRefShareSVG {
  background: url("../../assets/share.svg");
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
}

.mainRefButton:not(:last-child) {
  margin-right: 6px;
}

.refButtons {
  display: flex;
  margin-right: 10px;
}

.worker {
  margin-top: 16px;
}

.workerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workerTitle {
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.7px;
  align-items: center;
  display: flex;
}

.workerCount {
  color: #000;
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 600;
  margin-left: 4px;
}

.workerMin {
  color: #000;
  background: #fff;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  padding: 3px 14px;
}

/* Стили для блока mainScroll */
.mainScroll {
  overflow-y: auto;
  max-height: calc(82vh - 77px);
}

/* Скрыть полосу прокрутки в Chrome, Safari и Edge */
.mainScroll::-webkit-scrollbar {
  width: 0; /* Ширина полосы прокрутки */
  height: 0; /* Высота полосы прокрутки */
}

/* BACK */

.back-button {
  background: transparent;
  border: 0;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.back-button svg {
  margin-right: 8px;
}
