.workerPage {
  overflow-y: auto;
  /* Remove fixed min-height */
  max-height: calc(100vh - 20px); /* Adjust to subtract header/footer height */
}

.workerPageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.workerPageAvatarContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; /* Добавьте это свойство */
}

.workerPageAvatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.workerPageName {
  margin-top: 5px;
  font-family: SF Pro Display;
  font-size: 24px;
  font-weight: 400;
}

.workerPageStatus {
  color: #ffcd82;
  font-size: 15px;
}

.workerPageStatusBar {
  display: flex;
  justify-content: space-between;
  margin: 20px 7px 9px 7px;
}

.workerPageShield {
  background: #1f1f1f;
  border-radius: 20px;
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 10px;
}

.workerPagePayment {
  background: #1f1f1f;
  border-radius: 20px;
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 10px 20px;
}

.dottedLine {
  display: flex;
  text-align: center;
  border-top: 2px dashed #212121;
  width: 97%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.workerUp {
  display: flex;
  height: 60px;
  width: 100%;
  background: #1f1f1f;
  border-radius: 20px;
  margin-top: 9px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}



.workerUpTitle {
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.workerUpTitle.yes {
  color: #4f4f4f;
}

.workerUpCoin {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

.workerUpCoin img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.workerPlayers {
  margin-top: 15px;
}

.workerPlayersUnit {
  background: #1c1c1c;
  height: 55px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  justify-content: space-between;
}

.workerPlayersUnitGroup {
  display: flex;
  align-items: center;
  margin: 20px 17px;
}

.workerPlayersUnitPoint {
  width: 22px;
  margin-right: 24px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.workerPlayersUnitCount {
  font-size: 20px;
  color: #4f4f4f;
  font-weight: 600;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.error-message {
  z-index: 1251251251;
  background-color: #181818;
  padding: 16px;
  border-radius: 20px;
  height: 99px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  flex-direction: column;
}

.error-msg {
  margin-top: 15px;
  color: #585858;
  font-size: 13px;
  font-weight: 400;
}

.workerPlayersUnit_Income {
  margin-right: 5px;
  background: #292929;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 15px;
}

.workerUp:last-child {
  margin-bottom: 20px;
}

.workerUp.balance {
  background: #fff;
}

.workerUp.balance .workerUpTitle {
  color: #181818;
  font-weight: 700;
}

.workerUp.clicked {
  background: #181818; /* изменяем фон на текст */
}

.workerUp.clicked .workerUpTitle {
  color: #fff; /* изменяем текст на фон */
}
