.circle {
  background: transparent;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px #ffff solid;
}

.circle.current {
  background: #ffff;
}

.groupSkins {
  text-align: center;
  margin-bottom: 19px;
}
