.balanceValue {
  font-size: 50px;
  font-weight: 600;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.balanceValueImg {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.balanceValueImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.statistics {
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 44px;
  text-align: center;
  margin-bottom: 13px;
}

.convention {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: #4f4f4f;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: 13px auto;
  display: flex;
  justify-content: center;
}

.workerPlayersUnit.trade {
  margin-top: 26px;
  margin-bottom: -15px;
  height: 60px;
}

.workerPlayersUnit.trade input {
  text-align: center;
}

.workerPlayersUnit.trade input::placeholder {
  text-align: center;
}

.tradeForm {
  display: flex;
  flex-direction: column;
}

.curs {
  color: #4f4f4f;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
