.footer {
  position: fixed;
  background: #1f1f1f;
  bottom: 1px;
  width: calc(100vw - 30px);
  height: 76px;
  border-radius: 20px;
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  border: 0.4px solid #262626;
}

.navButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
  width: 33%;
}

.navButton:not(:last-child) {
  border-right: 1px solid #262626;
}

.navButtonImg {
  width: 31px;
  height: 31px;
}

.navButtonImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* #players {
  background: url("../../assets/user.png");
  width: 31px;
  height: 31px;
}

#boost {
  background: url("../../assets/boost.png");
  width: 31px;
  height: 31px;
}

#trade {
  background: url("../../assets/trade.png");
  width: 31px;
  height: 31px;
} */

.navButtonText {
  font-family: SF Pro Display;
  font-size: 12px;
  font-weight: 500;
  margin-top: 7px;
  letter-spacing: 0.7px;
}
